<h1>Rooms</h1>

<div id="rooms">
  <% @rooms.each do |room| %>

   <p>Room: <%= link_to room.name, room %></p>
   <p>Capacity: <%= room.capacity %></p>
  <% end %>
</div>

<%= link_to "New room", new_room_path %>